DEFAULTS:
  records:
    - type: "SOA"
      origin: "@"
      ttl: "86400"
      primary: "ns1.google.com."
      email: "webmaster@localhost"
      refresh: "86400"
      retry: "86400"
      expire: "86400"
      minimumTTL: "86400"
    - name: "@"
      type: "NS"
      host: "ns1.google.com."
    - name: "@"
      type: "NS"
      host: "ns2.google.com."
    - name: "@"
      type: "NS"
      host: "ns3.google.com."
    - name: "@"
      type: "NS"
      host: "ns4.google.com."
